<h2>Material table</h2>

<table mat-table [dataSource]="monthTable" class="mat-elevation-z8" style="width: 80%; margin: auto;">
  <ng-container matColumnDef="Week">
    <th mat-header-cell *matHeaderCellDef>Week</th>
    <td mat-cell *matCellDef="let element"> {{element.Week}} </td>
  </ng-container>
  <ng-container matColumnDef="Mon">
    <th mat-header-cell *matHeaderCellDef>Mon</th>
    <td mat-cell *matCellDef="let element"> {{element.Mon}} </td>
  </ng-container>
  <ng-container matColumnDef="Tue">
    <th mat-header-cell *matHeaderCellDef>Tue</th>
    <td mat-cell *matCellDef="let element"> {{element.Tue}} </td>
  </ng-container>
  <ng-container matColumnDef="Wed">
    <th mat-header-cell *matHeaderCellDef>Wed</th>
    <td mat-cell *matCellDef="let element"> {{element.Wed}} </td>
  </ng-container>
  <ng-container matColumnDef="Thu">
    <th mat-header-cell *matHeaderCellDef>Thu</th>
    <td mat-cell *matCellDef="let element"> {{element.Thu}} </td>
  </ng-container>
  <ng-container matColumnDef="Fri">
    <th mat-header-cell *matHeaderCellDef>Fri</th>
    <td mat-cell *matCellDef="let element"> {{element.Fri}} </td>
  </ng-container>
  <ng-container matColumnDef="Sat">
    <th mat-header-cell *matHeaderCellDef>Sat</th>
    <td mat-cell *matCellDef="let element"> {{element.Sat}} </td>
  </ng-container>
  <ng-container matColumnDef="Sun">
    <th mat-header-cell *matHeaderCellDef>Sun</th>
    <td mat-cell *matCellDef="let element"> {{element.Sun}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

