//@import '~@angular/material/theming';

//@include mat-core();

@import "src/theme.scss";
// Include the mixin
//@include mix-app-theme($app-theme);
//@include angular-material-theme($app-theme);

.mat-table {
  margin: auto;
}

.mat-header-row {
  height: 50px;
  background: $primary;
  border-bottom: solid 2px gray;
}

.mat-header-cell {
  width: 100px;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.mat-cell {
  padding: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align: center;
  border: solid 0.5px gray;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
  width: 50px;
  color: white;
  font-weight: bold;
  background: $primary;
}

.mat-cell:first-of-type,
.mat-cell:last-of-type,
.mat-header-cell:first-of-type,
.mat-header-cell:last-of-type {
  padding: 0;
}

.mat-cell:not(:first-of-type):hover {
  color: white;
  background: darkred;
}
