.mat-table {
  margin: auto;
}

.mat-header-row {
  height: 50px;
  background: teal;
  border-bottom: solid 2px gray;
}

.mat-header-cell {
  width: 100px;
  height: 50px;
  color: white;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.mat-cell {
  padding: 0;
  width: 100px;
  height: 100px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: solid 0.5px gray;
}

.mat-cell:first-of-type, .mat-header-cell:first-of-type {
  padding: 0;
  width: 50px;
  color: white;
  background: teal;
}

.mat-cell:last-of-type, .mat-header-cell:last-of-type {
  padding: 0;
}

// {
//  width: 50px;
//  background: teal;
//}

.mat-cell:not(:first-of-type):hover {
  color: white;
  background: darkred;
}
