@import "theme";

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.w3-container {
  padding: 24px;
  flex: 1 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

