<mat-toolbar class="mat-elevation-z4" color="primary" style="min-height: 56px; max-height: 56px;">
  <button mat-icon-button>
    <mat-icon>
      menu
    </mat-icon>
  </button>

  <span style="padding: 0 40px;">Ancient Laboratory</span>
</mat-toolbar>

<nav mat-tab-nav-bar class="mat-border-primary" style="z-index: 2;">
  <!--  fx backgroundColor="primary">-->
  <a mat-button routerLink="zen" routerLinkActive="active" style="padding: 0 48px;">Zen</a>
  <a mat-button routerLink="home" routerLinkActive="active" style="padding: 0 48px;">Home</a>
  <a mat-button routerLink="album" routerLinkActive="active" style="padding: 0 48px;">Album</a>
</nav>

<div class="w3-container mat-border-primary">
  <router-outlet></router-outlet>
</div>
