<p>album works!</p>

<mat-grid-list cols="3" rowHeight="16:9">
  <mat-grid-tile *ngFor="let i of range">
    <mat-card class="mat-elevation-z4" (click)="toggleSelected(i)" [ngClass]="selected[i]? 'active' : 'inactive'"
              style="height: 90%; width: 90%;">
      {{i}}
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<button mat-fab (click)="addData()" style="position: absolute; right: 60px; bottom: 60px;">
  <mat-icon>add_task</mat-icon>
</button>

<button mat-fab (click)="pushFab()" style="position: absolute; right: 120px; bottom: 60px;">
  <mat-icon>gavel</mat-icon>
</button>

<!--<app-album-files></app-album-files>-->
