<div
  style="position: fixed; width: 40%; left: 55%; display: flex; justify-content: space-between; z-index: 2;">
  <button mat-raised-button color="primary" style="width: 150px;">
    <mat-icon>add_circle</mat-icon>
    New card
  </button>
  <button mat-raised-button color="primary" style="width: 150px;">Start</button>
  <button mat-raised-button color="primary" style="width: 150px;">Stop</button>
  <button mat-raised-button color="primary" style="width: 150px;">
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button mat-raised-button color="primary" style="width: 150px;">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</div>

<br><br><br>

<mat-grid-list [cols]="isMobile ? 1 : 2" rowHeight="16:9">
  <mat-grid-tile *ngFor="let card of albumCardsList; let i = index;" style="display:flex;">
    <app-album-card [albumCard]="card" style="width: 100%; height:100%; margin: auto;"></app-album-card>
  </mat-grid-tile>
</mat-grid-list>

<button mat-fab (click)="addData()" style="position: fixed; right: 260px; bottom: 60px;">
  <mat-icon>add_circle</mat-icon>
</button>

<button mat-fab (click)="getData()" style="position: fixed; right: 160px; bottom: 60px;">
  <mat-icon>get_app</mat-icon>
</button>

<button mat-fab (click)="deleteData()" style="position: fixed; right: 60px; bottom: 60px;">
  <mat-icon>delete</mat-icon>
</button>

<!--<app-album-files></app-album-files>-->
