<mat-card class="mat-elevation-z4" (click)="toggleSelected()" [ngClass]="albumCard.active? 'active' : 'inactive'">
  <!--  {{i}}-->
  <div
    style="width:70%; margin: auto; overflow-x: auto; font-weight: bold; font-size: 14pt;">
    <p>{{albumCard.weekday}}, {{albumCard.day}}. {{albumCard.month}} {{albumCard.year}}</p>
    <table>
      <tr>
        <td>Start:</td>
        <td>{{albumCard.start}}</td>
      </tr>
      <tr>
        <td>Stop:</td>
        <td>{{albumCard.stop}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{albumCard.total}}</td>
      </tr>
      <tr>
        <td>Quality:</td>
        <td>{{albumCard.quality}}</td>
      </tr>
    </table>
  </div>
</mat-card>
