<mat-card class="mat-elevation-z4" (click)="toggleSelected()"
          [ngClass]="albumCard.active? 'active' : 'inactive'"
          style="margin: auto; height: 90%; width: 90%; display: flex; align-content: center;">
  <!--  {{i}}-->
  <div style="width:60%; margin: auto; font-weight: bold; font-size: 14pt;">
    <table>
      <tr>
        <td>Start:</td>
        <td>{{albumCard.start}}</td>
      </tr>
      <tr>
        <td>Stop:</td>
        <td>{{albumCard.stop}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{albumCard.total}}</td>
      </tr>
      <tr>
        <td>Quality:</td>
        <td>{{albumCard.quality}}</td>
      </tr>
    </table>
  </div>

  <button mat-fab style="position: relative; left: 80%; top: 80%;">
    <mat-icon>add_circle</mat-icon>
  </button>

  <button mat-fab style="position: relative; left: 85%; top: 80%">
    <mat-icon>get_app</mat-icon>
  </button>

  <button mat-fab style="position: relative; left: 90%; top: 80%">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
